<ion-view view-title="Chat" class = "chat-div">
<ion-content>
<div class = "chat-wrapper">
  <div ng-repeat = "message in messages">
    <div ng-if = "message.who == 'mibank'" class = "msg-mibank-div">
      <div ng-if = "message.type == 'text'">
        <img src="img/mibank-avatar.png">
        <span class = "msg-mibank">{{message.value}}</span>
      </div>
      <div ng-if = "message.type == 'multioption'" >

        <img ng-show = "{{message.showavatar}}" src="img/mibank-avatar.png">
        <img ng-hide = "{{message.showavatar}}" src="img/no-avatar.png">
        <div class = "multioption-div">
        <span class = "lbl">Selecciona alguna de las opciones</span>
        <button ng-repeat = "option in message.value" class = "option">
          {{option.value}}
        </button>
          
        </div>
        
      </div>
    </div>
    <div ng-if = "message.who == 'user'" class = "msg-user-div">
      <span class = "msg-user">{{message.value}}</span>
      <img ng-show = "{{message.showavatar}}" src="img/mibank-avatar.png">
      <img ng-hide = "{{message.showavatar}}" src="img/no-avatar.png">
    </div>
  </div>
  
</div>


</ion-content>


<ion-footer-bar class = "chat-footer">
<div class = "chat-input-div">
  <form>
    <input type = "text" class = "user-input" ng-model = "input.chat"></input>
    <button class = "send-btn btn-dropshadow" ng-click = "newUserMessage()"><i class = "icon ion-android-send"></i></button>
  </form>
</div>
</ion-footer-bar>
</ion-view>
