<ion-view view-title="Chat" class = "chat-div">
<ion-content>
<div class = "chat-wrapper" id = "chatwrapper">
  <div ng-repeat = "message in messages">
    <div ng-if = "message.who == 'mibank'" class = "msg-mibank-div">
      <div ng-if = "message.type == 'text'">
        <img src="img/mibank-avatar.png">
        <span class = "msg-mibank">{{message.value}}</span>
      </div>
      <div ng-if = "message.type == 'multioption'" >
        <img ng-show = "{{message.showavatar}}" src="img/mibank-avatar.png">
        <img ng-hide = "{{message.showavatar}}" src="img/no-avatar.png">
        <div class = "multioption-div">
          <span class = "lbl">Selecciona alguna de las opciones</span>
          <button ng-repeat = "option in message.value" class = "option" ng-click = "sendMultioption({{option.code}})">
            {{option.value}}
          </button>
        </div>
      </div>

      <div ng-if = "message.type == 'card'">
        <img ng-show = "{{message.showavatar}}" src="img/mibank-avatar.png">
        <img ng-hide = "{{message.showavatar}}" src="img/no-avatar.png">
        <div class = "card-div">
          <div class = "atm-img-div">
            <div class = "inner">
              <div class = "overlay"></div>
              <img ng-src={{message.value.url_image}}>
            </div>
            <div class = "circle-bank">
              <img src="img/bancolombia.png">
            </div>
            <div class = "img-info">
              <span class = "type">{{message.value.type}}</span>
              <span class = "name">{{message.value.name}}</span>
              <span class = "direccion">{{message.value.address}}</span>
            </div>
          </div>
          <div class = "atm-info">
            <h5>Horario</h5>
            <h6>Lunes a Viernes: 09:00 - 15:00</h6>
            <div class = "footer-info">
              <span class = "cierra">{{message.value.type}} Bancolombia</span>
              <span class = "waze"><i class = "icon ion-navigate"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="message.type == 'eCard'">
        <img ng-show = "{{message.showavatar}}" src="img/mibank-avatar.png">
        <img ng-hide = "{{message.showavatar}}" src="img/no-avatar.png">
        <div class = "card-div">
          <div class = "atm-img-div">
            <div class = "inner">
              <div class = "overlay" style = "opacity: 0.6;"></div>
              <img src="img/ecard.jpg">
            </div>
            <div class = "circle-bank">
              <img src="img/bancolombia.png">
            </div>
            <div class = "img-info">
              <span class = "name" style = "position: relative; top: -15px;">Bancolombia</span>
              <span class = "direccion">{{message.value.address}}</span>
            </div>
          </div>
          <div class = "atm-info">
            <div class = "btn-ecard-div" ng-repeat = "channel in message.value.services">
              <a ng-click = "openSucursal()" class = "btn-ecard btn-dropshadow" ng-show = "channel.value == 'browser'">
                <span class = "title">Sucursal virtual</span>
                <span class = "icon-div"><i class ="icon ion-ios-world"></i> </span>
              </a>
              <a ng-click = "openPlayStore()" class = "btn-ecard btn-dropshadow" ng-show = "channel.value == 'android'">
                <span class = "title">Aplicación Android</span>
                <span class = "icon-div"><i class ="icon ion-social-android"></i> </span>
              </a>
              <a  ng-click = "openIOSStore()" class = "btn-ecard btn-dropshadow" ng-show = "channel.value == 'iOS'">
                <span class = "title">Aplicación iOS</span>
                <span class = "icon-div"><i class ="icon ion-social-apple"></i> </span>
              </a>
              <a href="tel:+57-01800-09-12345" class = "btn-ecard btn-dropshadow" ng-show = "channel.value == 'phone'">
                <span class = "title">01 8000 912345</span>
                <span class = "icon-div"><i class ="icon ion-ios-telephone"></i> </span>
              </a>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    <div ng-if = "message.who == 'user'" class = "msg-user-div">
      <span class = "msg-user">{{message.value}}</span>
      <img ng-show = "{{message.showavatar}}" src="img/mibank-avatar.png">
      <img ng-hide = "{{message.showavatar}}" src="img/no-avatar.png">
    </div>
  </div>
  
</div>


</ion-content>


<ion-footer-bar class = "chat-footer">
<div class = "chat-input-div">
  <form>
    <input type = "text" class = "user-input" ng-model = "input.chat"></input>
    <button class = "send-btn btn-dropshadow" ng-click = "newUserMessage()"><i class = "icon ion-android-send"></i></button>
  </form>
</div>
</ion-footer-bar>
</ion-view>
