<ion-view view-title="Dashboard" class = "signup-div">
<ion-content  overflow-scroll = "false">
<div class = "img-signup">
  <img src="img/signup-img.jpg" class= "hero-img">
  <div class = "logo-div">
    <img src="img/logo-signup.png" class = "logo-img">
    <span class = "cheesy">Tu banco contigo</span>
  </div>
</div>
<div class = "container">
<form name="signupform" ng-submit="signUpUser(signupform)" novalidate>
  <input class = "line-input" placeholder="Nombre" name="name" type = "text" ng-model="signup.name" ng-class = "{'error-required':submitted&&signupform.name.$error.required}" required></input>
  <input class = "line-input" placeholder="Email" type = "text" ng-model="signup.email" name="email" ng-class = "{'error-required':submitted&&signupform.email.$error.required}" required></input>
  <input class = "line-input" placeholder="Contraseña" type = "password" ng-model="signup.password" ng-class = "{'error-required':submitted&&signupform.password.$error.required}" name="password" required></input>
  <input type = "submit" class = "btn-send btn-dropshadow mibank-btn" value = "Registrar"></input>
</form>

  <span class = "prefer">o si prefieres</span>
  <a class="facebook-sign-in button button-block btn-dropshadow" ng-click="facebookSignIn()">Regístrate con Facebook</a>
</div>

</ion-content>
</ion-view>
