<ion-slide-box on-slide-changed="slideHasChanged($index)" class = "tour-div">
<ion-slide class= "slide one">
<img src="img/left-circles.png" class = "left-circle">
<img src="img/right-circles.png" class = "right-circle">
<img src="img/sparkles.png" class = "sparkles">
<div class = "welcome-message">
	<h2>¡Bienvenido Carlos!</h2>
	<p>Esperamos mucho tiempo para este momento. Pregúntanos cualquier tema financiero y haremos lo mejor para responderte.</p>
</div>
<!--button ng-click = "registrarCliente()">Registrar</button-->
</ion-slide>
<ion-slide class= "slide two">
<div class="box yellow"><h1>YELLOW</h1></div>
</ion-slide>
<ion-slide class= "slide three">
<div class="box pink"><h1>PINK</h1></div>
</ion-slide>
</ion-slide-box>