.chat-div{
	background-color: #f0f0f0;
	.scroll{
		height: 100%;
	}
	.chat-wrapper{
		padding: 15px;
		position: absolute;
		bottom: 0px;

		.msg-mibank-div{
			margin-bottom: 20px;
			img{
				float: left;
			}
			
		}

		.msg-mibank{
			    background-color: #7E6DE8;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    max-width: 72%;
    margin-left: 10px;
		}



		.msg-user{
			    background-color: #ffffff;
    color: #333333;
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    max-width: 72%;
    margin-right: 10px;

	-webkit-box-shadow: 0px 10px 38px -6px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 10px 38px -6px rgba(0,0,0,0.24);
box-shadow: 0px 10px 38px -6px rgba(0,0,0,0.24);
		}

		.msg-user-div{
			text-align: right;
			margin-bottom: 20px;
			img{
				float: right;
			}
		}
	}

	.chat-footer{
		padding: 0;
		height: 60px;
	}
	.chat-input-div{
		width: 100%;
		height: 100%;
		background-color: #DDDCE9;
		position: relative;
		bottom: 0px;
		padding: 9px;
	}
	.user-input{
		width: 80%;
		border: none;
		border-radius: 3px;
		height: 43px;
		padding-left: 13px;
		padding-right: 13px;
		color: #333333;
		display: inline;
		font-size: 16px;
	}

	.send-btn{

		width: 17%;
		display: inline;
		margin-left: 4px;
		background: none;
		border: none;
		@include background-image(linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%));
		height: 38px;
		border-radius: 4px;

		i{
			color: white;
			position: relative;
			top: 2px;
			left: 2px;
			&:focus{

			}
		}
	}
}