.signup-div {
  background-color: #F6F6F6; }
  .signup-div .container {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px; }
  .signup-div input.line-input {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    padding-bottom: 4px;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .signup-div input.line-input:focus {
      border-bottom: 1px solid #6464D0; }
  .signup-div .btn-send {
    width: 100%;
    height: 45px;
    margin-top: 10px; }
  .signup-div .prefer {
    display: block;
    text-align: center;
    margin-top: 19px;
    color: #A9A9A9; }
  .signup-div .facebook-sign-in {
    background-color: #3B5998;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 2px; }
  .signup-div .img-signup {
    position: relative; }
  .signup-div .hero-img {
    position: relative;
    display: table-cell;
    vertical-align: center; }
  .signup-div .logo-div {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    text-align: center;
    margin: auto; }
  .signup-div .cheesy {
    display: block;
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-top: 5px; }

.chat-div {
  background-color: #f0f0f0; }
  .chat-div .card-div {
    background-color: #ECECEC;
    display: inline-block;
    width: 80%;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.37); }
    .chat-div .card-div .btn-ecard {
      background-color: #7E6DE8;
      color: white;
      padding: 10px;
      font-weight: 600;
      width: 80%;
      margin: auto;
      border-radius: 4px;
      margin-bottom: 3px;
      margin-top: 3px;
      height: 40px;
      display: inline-block; }
      .chat-div .card-div .btn-ecard:last-child {
        margin-bottom: 20px; }
      .chat-div .card-div .btn-ecard .title {
        float: left;
        padding-left: 6px; }
      .chat-div .card-div .btn-ecard .icon-div {
        float: right;
        width: 34px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
        top: -2px; }
      .chat-div .card-div .btn-ecard i {
        font-size: 21px;
        padding-left: 10px;
        position: relative;
        top: 2px; }
    .chat-div .card-div .atm-img-div {
      position: relative; }
      .chat-div .card-div .atm-img-div .img-info {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 35px;
        text-align: center;
        color: white;
        font-weight: 600; }
        .chat-div .card-div .atm-img-div .img-info span {
          display: block; }
        .chat-div .card-div .atm-img-div .img-info .name {
          font-size: 18px;
          font-weight: 800;
          padding-left: 15px;
          padding-right: 15px; }
        .chat-div .card-div .atm-img-div .img-info .direccion {
          font-size: 11px;
          font-weight: 600;
          opacity: 0.9; }
      .chat-div .card-div .atm-img-div .inner {
        height: 135px;
        width: 100%;
        overflow: hidden;
        border-radius: 3px; }
        .chat-div .card-div .atm-img-div .inner .overlay {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: #333333;
          border-radius: 3px 3px 0px 0px;
          opacity: 1;
          background: rgba(56, 33, 61, 0.63);
          background: -moz-linear-gradient(top, rgba(56, 33, 61, 0.63) 0%, rgba(26, 50, 79, 0.77) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56, 33, 61, 0.63)), color-stop(100%, rgba(26, 50, 79, 0.77)));
          background: -webkit-linear-gradient(top, rgba(56, 33, 61, 0.63) 0%, rgba(26, 50, 79, 0.77) 100%);
          background: -o-linear-gradient(top, rgba(56, 33, 61, 0.63) 0%, rgba(26, 50, 79, 0.77) 100%);
          background: -ms-linear-gradient(top, rgba(56, 33, 61, 0.63) 0%, rgba(26, 50, 79, 0.77) 100%);
          background: linear-gradient(to bottom, rgba(56, 33, 61, 0.63) 0%, rgba(26, 50, 79, 0.77) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38213d', endColorstr='#1a324f', GradientType=0 ); }
      .chat-div .card-div .atm-img-div .circle-bank {
        height: 50px;
        width: 50px;
        background-color: white;
        position: absolute;
        border-radius: 50%;
        bottom: -23px;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.23);
        box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.23); }
        .chat-div .card-div .atm-img-div .circle-bank img {
          position: relative;
          top: 14px;
          left: 10px; }
    .chat-div .card-div .atm-info {
      text-align: center;
      padding-top: 25px; }
      .chat-div .card-div .atm-info h5 {
        font-weight: 600;
        color: #595959; }
      .chat-div .card-div .atm-info h6 {
        font-size: 11px;
        font-weight: 600;
        color: #767676;
        margin-top: -5px; }
      .chat-div .card-div .atm-info .footer-info {
        background-color: transparent;
        border-top: 1px solid #cfc9c9;
        height: 38px;
        position: relative; }
        .chat-div .card-div .atm-info .footer-info .cierra {
          color: #7E6DE8;
          position: absolute;
          left: 16px;
          top: 9px;
          font-weight: 600;
          font-size: 13px;
          width: 100%;
          text-align: left; }
        .chat-div .card-div .atm-info .footer-info .waze {
          float: right;
          border-left: 1px solid #CFC9C9;
          height: 36px;
          padding-top: 10px;
          width: 43px; }
          .chat-div .card-div .atm-info .footer-info .waze i {
            color: #7E6DE8;
            font-size: 20px; }
  .chat-div .scroll-bar-v {
    display: none; }
  .chat-div .scroll {
    height: 100%; }
  .chat-div .chat-wrapper {
    padding: 15px;
    position: absolute;
    bottom: 0px; }
    .chat-div .chat-wrapper.no-bottom {
      bottom: initial !important; }
    .chat-div .chat-wrapper .msg-mibank-div {
      margin-bottom: 20px; }
      .chat-div .chat-wrapper .msg-mibank-div img {
        float: left; }
    .chat-div .chat-wrapper .msg-mibank {
      background-color: #7E6DE8;
      color: white;
      font-weight: 600;
      padding: 10px;
      border-radius: 3px;
      position: relative;
      display: inline-block;
      max-width: 72%;
      margin-left: 10px; }
    .chat-div .chat-wrapper .msg-user {
      background-color: #ffffff;
      color: #333333;
      font-weight: 600;
      padding: 10px;
      border-radius: 3px;
      position: relative;
      display: inline-block;
      max-width: 72%;
      margin-right: 10px;
      -webkit-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.24); }
    .chat-div .chat-wrapper .msg-user-div {
      text-align: right;
      margin-bottom: 20px; }
      .chat-div .chat-wrapper .msg-user-div img {
        float: right; }
  .chat-div .chat-footer {
    padding: 0;
    height: 60px; }
  .chat-div .chat-input-div {
    width: 100%;
    height: 100%;
    background-color: #DDDCE9;
    position: relative;
    bottom: 0px;
    padding: 9px; }
  .chat-div .user-input {
    width: 80%;
    border: none;
    border-radius: 3px;
    height: 43px;
    padding-left: 13px;
    padding-right: 13px;
    color: #333333;
    display: inline;
    font-size: 16px; }
  .chat-div .send-btn {
    width: 17%;
    display: inline;
    margin-left: 4px;
    background: none;
    border: none;
    background-image: -webkit-linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%);
    background-image: linear-gradient(to right, #886de8 0, #6464d0 100%, transparent 100%);
    height: 38px;
    border-radius: 4px; }
    .chat-div .send-btn i {
      color: white;
      position: relative;
      top: 2px;
      left: 2px; }
  .chat-div .multioption-div {
    display: inline-block;
    max-width: 80%;
    margin-left: 7px; }
    .chat-div .multioption-div .lbl {
      width: 100%;
      margin-bottom: 5px;
      display: block;
      font-size: 12px;
      color: #909090;
      font-weight: 600;
      padding-left: 4px; }
    .chat-div .multioption-div .option {
      width: 40%;
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 6px;
      display: inline-block;
      background-color: #38D9A4;
      color: white;
      border: 1px solid #38D9A4;
      border-bottom: 3px solid #1D956D;
      border-radius: 3px;
      padding: 5px;
      font-weight: 600;
      float: left;
      min-height: 90px;
      position: relative; }
      .chat-div .multioption-div .option:focus, .chat-div .multioption-div .option:active {
        border-bottom: 2px solid #1D956D;
        top: 1px; }
      .chat-div .multioption-div .option.activated {
        border-bottom: 2px solid #1D956D;
        background-color: #2CC794;
        top: 1px; }

.tour-div .slide.one {
  background-color: #7E6DE8;
  overflow: hidden; }
  .tour-div .slide.one .btn-next.white {
    background: white;
    border: none;
    height: 44px;
    border-radius: 3px;
    padding: 12px 25px;
    font-weight: 600;
    color: #7E6DE8;
    margin-top: 40px;
    font-size: 15px; }
  .tour-div .slide.one .left-circle {
    position: absolute;
    top: 100px; }
  .tour-div .slide.one .right-circle {
    position: absolute;
    right: -83px;
    top: 191px; }
  .tour-div .slide.one .sparkles {
    position: absolute;
    top: 38px; }
  .tour-div .slide.one .welcome-message {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
    display: table; }
    .tour-div .slide.one .welcome-message p {
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      color: white;
      opacity: 0.7;
      font-size: 17px;
      line-height: 25px;
      margin-top: 20px; }
  .tour-div .slide.one h2 {
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: white; }
.tour-div .slide.two {
  background-color: #f0f0f0; }
  .tour-div .slide.two .inner-div {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
    display: table; }
    .tour-div .slide.two .inner-div img {
      margin-bottom: 15px; }
    .tour-div .slide.two .inner-div .btn-send {
      display: inline-block;
      margin-top: 10px;
      padding: 12px 36px;
      height: initial; }
  .tour-div .slide.two h3 {
    font-size: 17px;
    font-weight: 600;
    color: #372E4A; }
  .tour-div .slide.two p {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 27px;
    margin-top: 14px;
    color: #565656; }
.tour-div .slide.three {
  background-color: #333333; }
.tour-div .slider-pager {
  bottom: 0px;
  padding-top: 15px;
  height: 44px;
  background-color: #f0f0f0; }

body {
  font-family: 'Proxima';
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #333;
  font-weight: 400; }

input[type=text], input[type=password] {
  color: #333333; }

input.error-required {
  border-bottom: 1px solid #D63535 !important; }

input[type=submit].btn-send {
  height: 48px;
  background: none;
  border: none;
  background-image: -webkit-linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%);
  background-image: linear-gradient(to right, #886de8 0, #6464d0 100%, transparent 100%);
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px; }

.btn-dropshadow {
  -webkit-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.46); }

.mibank-btn {
  height: 48px;
  background: none;
  border: none;
  background-image: -webkit-linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%);
  background-image: linear-gradient(to right, #886de8 0, #6464d0 100%, transparent 100%);
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px; }

/*# sourceMappingURL=style.css.map */
