.signup-div {
  background-color: #F6F6F6; }
  .signup-div .container {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px; }
  .signup-div input.line-input {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    padding-bottom: 4px;
    font-size: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .signup-div input.line-input:focus {
      border-bottom: 1px solid #6464D0; }
  .signup-div .btn-send {
    width: 100%;
    height: 45px;
    margin-top: 10px; }
  .signup-div .prefer {
    display: block;
    text-align: center;
    margin-top: 19px;
    color: #A9A9A9; }
  .signup-div .facebook-sign-in {
    background-color: #3B5998;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 2px; }
  .signup-div .img-signup {
    position: relative; }
  .signup-div .hero-img {
    position: relative;
    display: table-cell;
    vertical-align: center; }
  .signup-div .logo-div {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    text-align: center;
    margin: auto; }
  .signup-div .cheesy {
    display: block;
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-top: 5px; }

.chat-div {
  background-color: #f0f0f0; }
  .chat-div .scroll {
    height: 100%; }
  .chat-div .chat-wrapper {
    padding: 15px;
    position: absolute;
    bottom: 0px; }
    .chat-div .chat-wrapper .msg-mibank-div {
      margin-bottom: 20px; }
      .chat-div .chat-wrapper .msg-mibank-div img {
        float: left; }
    .chat-div .chat-wrapper .msg-mibank {
      background-color: #7E6DE8;
      color: white;
      font-weight: 600;
      padding: 10px;
      border-radius: 3px;
      position: relative;
      display: inline-block;
      max-width: 72%;
      margin-left: 10px; }
    .chat-div .chat-wrapper .msg-user {
      background-color: #ffffff;
      color: #333333;
      font-weight: 600;
      padding: 10px;
      border-radius: 3px;
      position: relative;
      display: inline-block;
      max-width: 72%;
      margin-right: 10px;
      -webkit-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.24); }
    .chat-div .chat-wrapper .msg-user-div {
      text-align: right;
      margin-bottom: 20px; }
      .chat-div .chat-wrapper .msg-user-div img {
        float: right; }
  .chat-div .chat-footer {
    padding: 0;
    height: 60px; }
  .chat-div .chat-input-div {
    width: 100%;
    height: 100%;
    background-color: #DDDCE9;
    position: relative;
    bottom: 0px;
    padding: 9px; }
  .chat-div .user-input {
    width: 80%;
    border: none;
    border-radius: 3px;
    height: 43px;
    padding-left: 13px;
    padding-right: 13px;
    color: #333333;
    display: inline;
    font-size: 16px; }
  .chat-div .send-btn {
    width: 17%;
    display: inline;
    margin-left: 4px;
    background: none;
    border: none;
    background-image: -webkit-linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%);
    background-image: linear-gradient(to right, #886de8 0, #6464d0 100%, transparent 100%);
    height: 38px;
    border-radius: 4px; }
    .chat-div .send-btn i {
      color: white;
      position: relative;
      top: 2px;
      left: 2px; }

.tour-div .slide.one {
  background-color: #7E6DE8;
  overflow: hidden; }
  .tour-div .slide.one .left-circle {
    position: absolute;
    top: 100px; }
  .tour-div .slide.one .right-circle {
    position: absolute;
    right: -83px;
    top: 191px; }
  .tour-div .slide.one .sparkles {
    position: absolute;
    top: 38px; }
  .tour-div .slide.one .welcome-message {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    left: 0;
    right: 0;
    margin: auto;
    display: table; }
    .tour-div .slide.one .welcome-message p {
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      color: white;
      opacity: 0.7;
      font-size: 17px;
      line-height: 25px;
      margin-top: 20px; }
  .tour-div .slide.one h2 {
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: white; }
.tour-div .slide.three {
  background-color: #333333; }
.tour-div .slider-pager {
  bottom: 0px;
  padding-top: 15px;
  height: 44px;
  background-color: #f0f0f0; }

body {
  font-family: 'Proxima';
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #333;
  font-weight: 400; }

input[type=text], input[type=password] {
  color: #333333; }

input[type=submit].btn-send {
  height: 48px;
  background: none;
  border: none;
  background-image: -webkit-linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%);
  background-image: linear-gradient(to right, #886de8 0, #6464d0 100%, transparent 100%);
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px; }

.btn-dropshadow {
  -webkit-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 38px -6px rgba(0, 0, 0, 0.46); }

.mibank-btn {
  height: 48px;
  background: none;
  border: none;
  background-image: -webkit-linear-gradient(left, #886de8 0, #6464d0 100%, transparent 100%);
  background-image: linear-gradient(to right, #886de8 0, #6464d0 100%, transparent 100%);
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px; }

/*# sourceMappingURL=style.css.map */
